<div data-template-type="html" class="ui-sortable">
    <center>
      <table data-group="Navigations" data-module="Navigation 1" border="0" width="100%" align="center" cellpadding="0"
        cellspacing="0" style="width:100%;max-width:100%;" class="">
        <tbody>
          <tr>
            <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1"
              style="background-color: #F1F1F1;">
              <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row"
                style="width:600px;max-width:600px;">
                <tbody>
                  <tr>
                    <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#4B7BEC" style="background-color: #4B7BEC;">
                      <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row"
                        style="width:520px;max-width:520px;">
                        <tbody>
                          <tr>
                            <td align="center" class="container-padding">
                              <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                                style="width:100%; max-width:100%;">
                                <tbody>
                                  <tr>
                                    <td data-resizable-height="" style="font-size:60px;height:60px;line-height:60px;"
                                      class="spacer-first ui-resizable">&nbsp;<div
                                        class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td height="45" align="center" valign="middle" class="autoheight"><a
                                        href="https://mentorship.sustainablelivinglab.com"
                                        style="text-decoration:none;border:0px;"><img data-image="Logo Img"
                                          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Intel_logo_%282022%2C_white_blue%29.png/1200px-Intel_logo_%282022%2C_white_blue%29.png"
                                          width="130" border="0" alt="logo"
                                          style="width:130px;border:0px;display:inline-block!important;"></a></td>
                                  </tr>
                                  <tr>
                                    <td data-resizable-height="" style="font-size:30px;height:30px;line-height:30px;"
                                      class="ui-resizable">&nbsp;<div class="ui-resizable-handle ui-resizable-s"
                                        style="z-index: 90;"></div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table data-group="Titles" data-module="Title 2" border="0" width="100%" align="center" cellpadding="0"
        cellspacing="0" style="width:100%;max-width:100%;" class="">
        <tbody>
          <tr>
            <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1"
              style="background-color:#F1F1F1;">
              <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row"
                style="width:600px;max-width:600px;">
                <tbody>
                  <tr>
                    <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#4B7BEC" style="background-color: #4B7BEC;">
                      <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row"
                        style="width:520px;max-width:520px;">
                        <tbody>
                          <tr>
                            <td align="center" class="container-padding">
                              <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                                style="width:100%;max-width:100%;">
                                <tbody>
                                  <tr>
                                    <td data-resizable-height="" style="font-size:30px;height:30px;line-height:30px;"
                                      class="spacer-first ui-resizable">&nbsp;<div
                                        class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td data-text="Header Subtitle" data-font="Primary" align="center" valign="middle"
                                      style="font-family:'Poppins', sans-serif;color:#FFFFFF;font-size:16px;line-height:26px;font-weight:600;letter-spacing:0.5px;padding:0;padding-bottom:5px;"
                                      data-gramm="false">Before we get started</td>
                                  </tr>
                            </td>
                          </tr>
                          <tr>
                            <td data-text="Header Title" data-font="Primary" align="center" valign="middle"
                              class="br-mobile-none"
                              style="font-family:'Poppins', sans-serif;color:#FFFFFF;font-size:38px;line-height:48px;font-weight:400;letter-spacing:0px;">
                              Confirm your Email</td>
                          </tr>
                          <tr>
                            <td data-resizable-height="" style="font-size:15px;height:15px;line-height:15px;"
                              class="ui-resizable">&nbsp;<div class="ui-resizable-handle ui-resizable-s"
                                style="z-index: 90;"></div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
      </tr>
      </tbody>
      </table>
      <table data-group="Headers" data-module="Header 1" border="0" width="100%" align="center" cellpadding="0"
        cellspacing="0" style="width:100%;max-width:100%;" class="">
        <tbody>
          <tr>
            <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1"
              style="background-color:#F1F1F1;">
              <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row"
                style="width:600px;max-width:600px;">
                <tbody>
                  <tr>
                    <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#4B7BEC" style="background-color: #4B7BEC;">
                      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                        style="width:100%; max-width:100%;">
                        <tbody>
                          <tr>
                            <td align="center">
                              <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                                style="width:100%;max-width:100%;">
                                <tbody>
                                  <tr>
                                    <td align="center" valign="middle" class="img-responsive"><img data-image="Hero Img"
                                        src="https://server-mentorship.sustainablelivinglab.org/public/images/email-confirm.png"
                                        border="0" width="600" alt="Header"
                                        style="display:inline-block!important;border:0;width:600px;max-width:600px;"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table data-group="Contents" data-module="Content 11" border="0" width="100%" align="center" cellpadding="0"
        cellspacing="0" style="width:100%;max-width:100%;" class="selected-table">
        <tbody>
          <tr>
            <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1"
              style="background-color: #F1F1F1;">
              <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row"
                style="width:600px;max-width:600px;">
                <tbody>
                  <tr>
                    <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#FFFFFF" style="background-color:#FFFFFF;">
                      <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row"
                        style="width:520px;max-width:520px;">
                        <tbody>
                          <tr>
                            <td align="center" class="container-padding">
                              <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                                style="width:100%; max-width:100%;">
                                <tbody>
                                  <tr>
                                    <td data-resizable-height="" style="font-size:30px;height:30px;line-height:30px;"
                                      class="spacer-first ui-resizable">&nbsp;<div
                                        class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td data-text="Title" data-font="Primary" align="left" valign="middle"
                                      style="font-family:'Poppins', sans-serif;color:#191919;font-size:18px;line-height:28px;font-weight:600;letter-spacing:0px;padding:0px;padding-bottom:20px;">
                                      Hi {{ name }},</td>
                                  </tr>
                                  <tr>
                                    <td data-text="Description" data-font="Primary" align="left" valign="middle"
                                      style="font-family:'Poppins', sans-serif;color:#595959;font-size:16px;line-height:26px;font-weight:400;letter-spacing:0px;padding:0px;padding-bottom:40px;">
                                      Thank you for signing up for our service.
                                      To ensure the security of your account, we require all users to confirm their email
                                      address.&nbsp;<br></td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="middle">
                                      <table border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                          <tr>
                                            <td data-btn="Button" align="center"
                                              style="background-color:#4B7BEC;display:block;mso-padding-alt:16px 60px 16px 60px;border-radius:4px;">
                                              <a data-font="Primary" href="{{ url }}"
                                                style="color:#FFFFFF;font-family:'Poppins', sans-serif;font-size:14px;font-weight:600;letter-spacing:0.5px;line-height:24px;display:block;padding:16px 60px 16px 60px;text-decoration:none;white-space:nowrap;">VERIFY
                                                EMAIL</a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td data-resizable-height="" style="font-size:30px;height:30px;line-height:30px;"
                                      class="ui-resizable">&nbsp;<div class="ui-resizable-handle ui-resizable-s"
                                        style="z-index: 90;"></div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table data-group="Regards" data-module="Regard 2" border="0" width="100%" align="center" cellpadding="0"
        cellspacing="0" style="width:100%;max-width:100%;" class="">
        <tbody>
          <tr>
            <td data-bgcolor="Outer Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1"
              style="background-color: #F1F1F1;">
              <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row"
                style="width:600px;max-width:600px;">
                <tbody>
                  <tr>
                    <td data-bgcolor="Inner Bgcolor" align="center" bgcolor="#FFFFFF" style="background-color:#FFFFFF;">
                      <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="row"
                        style="width:520px;max-width:520px;">
                        <tbody>
                          <tr>
                            <td align="center" class="container-padding">
                              <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                                style="width:100%; max-width:100%;">
                                <tbody>
                                  <tr>
                                    <td data-resizable-height="" style="font-size:30px;height:30px;line-height:30px;"
                                      class="spacer-first ui-resizable">&nbsp;<div
                                        class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td data-text="ThankYou Text" data-font="Primary" align="left" valign="middle"
                                      style="font-family:'Poppins', sans-serif;color:#191919;font-size:18px;line-height:28px;font-weight:600;letter-spacing:0px;">
                                      Thank You,</td>
                                  </tr>
                                  <tr>
                                    <td data-text="Team Text" data-font="Primary" align="left" valign="middle"
                                      style="font-family:'Poppins', sans-serif;color:#595959;font-size:16px;line-height:26px;font-weight:400;letter-spacing:0px;">
                                      Intel Mentorship Platform</td>
                                  </tr>
                                  <tr>
                                    <td data-resizable-height="" style="font-size: 30px; height: 30px; line-height: 30px;"
                                      class="ui-resizable">&nbsp;<div class="ui-resizable-handle ui-resizable-s"
                                        style="z-index: 90;"></div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table data-group="Footers" data-module="Footer 1" border="0" width="100%" align="center" cellpadding="0"
        cellspacing="0" style="width:100%;max-width:100%;" class="">
        <tbody>
          <tr>
            <td data-bgcolor="Body Bgcolor" align="center" valign="middle" bgcolor="#F1F1F1"
              style="background-color: #F1F1F1;">
              <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="row"
                style="width:600px;max-width:600px;">
                <tbody>
                  <tr>
                    <td data-bgcolor="Bgcolor" align="center" bgcolor="#F1F1F1" style="background-color: #F1F1F1;">
                      <table width="520" border="0" cellpadding="0" cellspacing="0" align="center" class="row"
                        style="width:520px;max-width:520px;">
                        <tbody>
                          <tr>
                            <td align="center" class="container-padding">
                              <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                                style="width:100%; max-width:100%;">
                                <tbody>
                                  <tr>
                                    <td data-resizable-height="" style="font-size:40px;height:40px;line-height:40px;"
                                      class="spacer-first ui-resizable">&nbsp;<div
                                        class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
                                    </td>
                                  </tr>
  
                                  <tr>
                                    <td align="center" valign="middle"><a
                                        href="https://mentorship.sustainablelivinglab.com"
                                        style="text-decoration:none;border:0px;"><img data-image="Footer Logo"
                                          src="https://1000logos.net/wp-content/uploads/2021/05/Intel-logo.png"
                                          width="100" border="0" alt="logo"
                                          style="width: 100px; border: 0px; display: inline !important;"
                                          data-lm-image="true"></a></td>
                                  </tr>
                                  <tr>
                                    <td data-resizable-height="" style="font-size: 32px; height: 32px; line-height: 32px;"
                                      class="ui-resizable">&nbsp;<div class="ui-resizable-handle ui-resizable-s"
                                        style="z-index: 90;"></div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </div>